<%- include("../partials/header") %>

<h3>Add Product</h3>
<form method="POST" class="card p-4">
  <input class="form-control mb-2" name="name" placeholder="Name" />
  <input class="form-control mb-2" type="number" name="price" placeholder="Price" />
  <button class="btn btn-success">Save</button>
</form>

<%- include("../partials/footer") %>
